body{
    background-color: green;
    margin:0px;
}

/* The position and size values are temporary and will be adjusted later. */

.top-nav {
    display: block;
    position: relative;
    background-color: #808000;
    width: 100%-5px;
    height: 50px;
    border:black solid 5px;
}

.top-rhombus{
    left: 75px;
    top: 5px;
    position: relative;
    background: red;
    width:100px;
    height:100px;
    clip-path: polygon(
        50% 0%, 
        100% 50%, 
        50% 100%,
        0% 50%
    ); 
}